@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
        Address : 160/A, IDB Bhaban, 4th & 5th Floor, Kakrail, Dhaka <br/>
        Telephone : 02-8311811-4 <br />
        Fax : 02-8315459 <br />
        Email : cevdhksouth@yahoo.com
</address>

<address>
    <strong>Support:</strong>   <a href="md.wr.masum@gmail.com">md.wr.masum@gmail.com</a><br />
    <strong>Phone:</strong> <a href="#">01827447550</a>
</address>